{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMW</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/bmw.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
              <ul class="navbar-nav nav-underline">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'bmw' %}">BMW</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'mercedes' %}">Mercedes-Benz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'tesla' %}">Tesla</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Kontakty</a>
                  <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="https://cs-cz.facebook.com/">Facebook</a></li>
                    <li><a class="dropdown-item" href="https://www.instagram.com/">Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.google.com/gmail/about/">Gmail</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <br><br><br>

    {% for auta in bexa %}
        <div class="container marketing">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">{{ auta.title }} <span class="text-body-secondary">{{ auta.description }}</span></h2>
              <dl class="row">
                  <dt class="col-sm-3">Tovární značka</dt>
                  <dd class="col-sm-9">{{ auta.tovarni_znacka }}</dd>

                  <dt class="col-sm-3">Obchodní označení</dt>
                  <dd class="col-sm-9">{{ auta.obchodni_oznaceni }}</dd>

                  <dt class="col-sm-3">Druh vozidla</dt>
                  <dd class="col-sm-9">{{ auta.druh_vozidla }}</dd>

                  <dt class="col-sm-3">Motor</dt>
                  <dd class="col-sm-9">
                      <p>Objem motoru {{ auta.objem_motoru }}</p>
                      <p>Počet válců {{ auta.pocet_valcu }}</p>
                      <p>Kombinovaný výkon {{ auta.kombinovany_vykon }}</p>
                      <p>Typ paliva {{ auta.typ_paliva }}</p>
                  </dd>

                  <dt class="col-sm-3">Převodovka</dt>
                  <dd class="col-sm-9">{{ auta.prevodovka }}</dd>

                  <dt class="col-sm-3">Typ pohonu</dt>
                  <dd class="col-sm-9">{{ auta.typ_pohonu }}</dd>

              </dl><dl class="row">

                <dt class="col-sm-3">Kupní cena</dt>
                <dd class="col-sm-9">
                    <dl class="row">
                        <dd class="col-sm-4">Skladového vozu</dd>
                        <dd class="col-sm-8">Měsíční splátka úvěru vč. pojištění</dd>
                        <dt class="col-sm-4">{{ auta.cena_skladoveho_vozu }}</dt>
                        <dt class="col-sm-8">{{ auta.cena_uveru }}</dt>
                    </dl>
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Zkušební jízda</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" onsubmit="return false;">
                        <div class="mb-3">
                            <label for="email" class="form-label">
                                Enter your email:
                            </label>
                            <input type="email" class="form-control" name="email" />
                        </div>
                        <button class="btn btn-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Odeslat</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Rezervace zkušební jízdy proběhla v pořádku</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Děkujeme za rezervaci :)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Objednat si zkuební jízdu</button>

                </dd>
            </dl>

            </div>
            <div class="col-md-5">
              <img src="{{ auta.images.url }}" alt="BMW" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
            </div>
          </div>

          <hr class="featurette-divider">





    {% endfor %}

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0 text-body-secondary">© 2023 Forestovych s.r.o.</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{% static 'main/images/logo.png' %}" alt="" class="bi me-2" width="60" height="47"><use></use>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="{% url 'bmw' %}" class="nav-link px-2 text-body-secondary">BMW</a></li>
                <li class="nav-item"><a href="{% url 'mercedes' %}" class="nav-link px-2 text-body-secondary">Mercedes-Benz</a></li>
                <li class="nav-item"><a href="{% url 'tesla' %}" class="nav-link px-2 text-body-secondary">Tesla</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Back to top</a></li>
            </ul>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>