{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hlavni stranka</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <main>
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item carousel-item-next carousel-item-start">
              <img src="{% static 'main/images/bmw2.jpg' %}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>«Freude am Fahren»</h1>
                  <p class="opacity-75"> «The Ultimate Driving Machine»</p>
                  <p><a class="btn btn-lg" href="{% url 'bmw' %}" style="background: #cbcbd4">Víсe o BMW</a></p>
                  <br><br><br><br><br>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'main/images/mers2.jpg' %}" alt="" class="bd-placeholder-img" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
              <div class="container">
                <div class="carousel-caption">
                  <h1>«The best or nothing»</h1>
                  <p>«Unlike Any Other»</p>
                  <p><a class="btn btn-lg" href="{% url 'mercedes' %}" style="background: #cbcbd4">Víсe o Mercedes</a></p>
                  <br><br><br><br><br>
                </div>
              </div>
            </div>
            <div class="carousel-item active carousel-item-start">
              <img src="{% static 'main/images/tesla5.webp' %}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>«Burn rubber, not gasoline»</h1>
                  <p>«The Power to Surprise»</p>
                  <p><a class="btn btn-lg" href="{% url 'tesla' %}" style="background: #cbcbd4">Víсe o Tesla</a></p>
                  <br><br><br><br><br>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <nav class="navbar navbar-expand-md sticky navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
              <ul class="navbar-nav nav-underline">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'bmw' %}">BMW</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'mercedes' %}">Mercedes-Benz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'tesla' %}">Tesla</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Kontakty</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://cs-cz.facebook.com/">Facebook</a></li>
                    <li><a class="dropdown-item" href="https://www.instagram.com/">Instagram</a></li>
                    <li><a class="dropdown-item" href="https://www.google.com/gmail/about/">Gmail</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <br><br>
        <div class="container marketing">

          <div class="row">
            <div class="col-lg-4">
              <img  src="{% static 'main/images/new-bmw-logo.jpg' %}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
              <h2 class="fw-normal">BMW</h2>
              <p>BMW je bezpochyby jedna z nejúžasnějších značek automobilů na světě. Vozy BMW mají své osobité kouzlo, nejen díky charakteristickému designu, ale také vynikající kvalitě zpracování, špičkovým motorům a v neposlední řadě elektronům BMW.</p>
              <p><a class="btn btn-secondary" href="https://cs.wikipedia.org/wiki/BMW">Wikipedia »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img  src="{% static 'main/images/merslogo.jfif' %}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
              <h2 class="fw-normal">Mercedes-Benz</h2>
              <p>To nejlepší, nebo nic. Poznáváte motto německé automobilky Mercedes-Benz? Synonymum spolehlivosti a luxusu, které v současnosti spadá pod křídla společnosti Daimler. Značka s trojcípou hvězdou na kapotě vznikla spojením dvou velkých rivalů s přičiněním rakouského milionáře, po jehož dceři Mercedes byla automobilka pojmenována. Nyní se může pyšnit titulem neprodávanější prémiové značky na světě.</p>
              <p><a class="btn btn-secondary" href="https://cs.wikipedia.org/wiki/Mercedes-Benz">Wikipedia »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img  src="{% static 'main/images/teslalogo.png' %}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
              <h2 class="fw-normal">Tesla</h2>
              <p>Tesla je mladá americká automobilka vyrábějící výhradně elektromobily. Společnost byla založena v roce 2003 v Sillicon Valley a je proslulá svými inovativními a progresivními řešeními v oblasti elektrifikace automobilů. </p>
              <p><a class="btn btn-secondary" href="https://cs.wikipedia.org/wiki/Tesla_(automobilka)">Wikipedia »</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->



          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">BMW. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
              <p class="lead">BMW je německý výrobce automobilů, motocyklů a motorů. Hlavní sídlo společnosti je v Mnichově. BMW je mateřskou společností firem Mini a Rolls-Royce a v nedávné minulosti i bývalé skupiny Rover. </p>
              <p><a class="btn btn-secondary" href="{% url 'bmw' %}">Prohlédnout »</a></p>
            </div>
            <div class="col-md-5">
              <img src="{% static 'main/images/bmw3.jpg' %}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Tesla. <span class="text-body-secondary">See for yourself.</span></h2>
              <p class="lead">Tesla je americká automobilka a energetická společnost sídlící v Austinu v Texasu. Tesla navrhuje, vyrábí a prodává elektromobily, domácí úložiště elektrické energie Powerwall, komerční úložiště Powerpack a solární střešní tašky. Firmu založili Martin Eberhard a Marc Tarpenning v roce 2003 a pojmenovali ji po elektroinženýrovi a fyzikovi Nikolovi Teslovi. Krátce na to se k firmě připojili Elon Musk, JB Straubel a Ian Wright.</p>
              <p><a class="btn btn-secondary" href="{% url 'tesla' %}">Prohlédnout »</a></p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src="{% static 'main/images/tesla1.jpg' %}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
            </div>
          </div>

          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Mercedes. <span class="text-body-secondary">Checkmate.</span></h2>
              <p class="lead">Mercedes-Benz (často jen Mercedes) je obchodní značka německého výrobce automobilů, nákladních vozidel, tahačů a autobusů společnosti Daimler AG a její divizí. (Před rokem 2007 měla společnost Daimler AG název DaimlerChrysler AG a ještě předtím Daimler-Benz AG.)</p>
              <p><a class="btn btn-secondary" href="{% url 'mercedes' %}">Prohlédnout »</a></p>
            </div>
            <div class="col-md-5">
              <img src="{% static 'main/images/mers4.webp' %}" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
            </div>
          </div>

          <hr class="featurette-divider">
        </div><!-- /.container -->


        <!-- FOOTER -->
        <div class="container">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-4 mb-0 text-body-secondary">© 2023 Forestovych s.r.o.</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{% static 'main/images/logo.png' %}" alt="" class="bi me-2" width="60" height="47"><use></use>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="{% url 'bmw' %}" class="nav-link px-2 text-body-secondary">BMW</a></li>
                <li class="nav-item"><a href="{% url 'mercedes' %}" class="nav-link px-2 text-body-secondary">Mercedes-Benz</a></li>
                <li class="nav-item"><a href="{% url 'tesla' %}" class="nav-link px-2 text-body-secondary">Tesla</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Back to top</a></li>
            </ul>
          </footer>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>